header, footer, .result-block, #search-types-nav, #search-performance,
#results, #related-searches, #change-page-nav {
  display: block;
}

header, footer, #search-types-nav, #search-performance, #results {
  width: 100%;
}

#related-searches, #change-page-nav, .result-block {
  width: 40%;
  margin-left: 8.5em;
}

header {
  height: 3.75em;
  background-color: #F1F1F1;
  padding-left: 0.75em;
  padding-top: 0.5em;
  padding-right: 1.9em;
}

footer {
  height: 5.25em;
  background-color: #F2F2F2;
}

button {
  background-color: #4386FB;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.result-block {
  height: 6em;
  border: 1px solid red;
  margin-bottom: 1em;
}

#search-types-nav {
  height: 3.75em;
  border: 1px solid #EBEBEB;
}

#search-performance {
  height: 2.75em;
  border: 1px solid black;
  margin-bottom: 0.5em;
}

#results {
  border: 1px solid blue;
  margin-top: 0.5em;
}

#related-searches {
  height: 11em;
  border: 1px solid violet;
}

#change-page-nav {
  height: 7em;
  border: 1px solid brown;
}

#logo {
  margin-top: 0.35em;
  float: left;
  width: 6em;
  height: 2.25em;
}

#search-text-box {
  float: left;
  margin-left: 1.25em;
  margin-top: 0.15em;
  margin-right: 0;
  height: 3em;
  width: 44.5em;
  background-image: url("../img/mic.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 98.5% 50%;
  border: 1px solid #D9D9D9;
}

#search-button {
  float: left;
  margin-left: 0;
  margin-top: 0.15em;
  width: 2.85em;
  height: 3em;
  border-radius: 0 2px 2px 0;
  border: none;

  background-image: url("../img/mag_glass.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

#search-button:hover {
  background-color: #3878EA;
}

#sign-in-button {
  float: right;
  width: 5.45em;
  height: 2.35em;
  background-color: #4386FB;
  border: none;
  border-radius: 2px;
  margin-top: 0.5em;
}

#gapps-link {
  float: right;
  display: block;
  margin-top: 0.65em;
  margin-right: 0.85em;
  width: 30px;
  height: 30px;
  background: transparent url("../img/gappsIcon_grey.png") center top no-repeat;
}
