header, footer, .result-block, #search-types-nav, #search-performance,
#results, #related-searches, #change-page-nav {
  display: block;
}

header, footer, #search-types-nav, #search-performance, #results {
  width: 100%;
}

#related-searches, #change-page-nav, .result-block {
  width: 40%;
  margin-left: 8.5em;
}

header {
  height: 3.75em;
  background-color: #F1F1F1;
  padding-left: 0.75em;
  padding-top: 1em;
}

footer {
  height: 5.25em;
  background-color: #F2F2F2;
}

.result-block {
  height: 6em;
  border: 1px solid red;
  margin-bottom: 1em;
}

#search-types-nav {
  height: 3.75em;
  border: 1px solid #EBEBEB;
}

#search-performance {
  height: 2.75em;
  border: 1px solid black;
  margin-bottom: 0.5em;
}

#results {
  border: 1px solid blue;
  margin-top: 0.5em;
}

#related-searches {
  height: 11em;
  border: 1px solid violet;
}

#change-page-nav {
  height: 7em;
  border: 1px solid brown;
}

#logo {
  float: left;
  width: 6em;
  height: 2.25em;
}
